footer {
  background-image: url("../pictures/Background/Footer/base.png");
  width: 100%;
  height: 384px;
  position: relative;
}
.footertop {
  display: flex;
}
.footerlogo {
  margin-top: 24px;
  margin-left: 120px;
  position: relative;
  width: 176px;
  height: 40px;
  display: flex;
}
.footerlogo p {
  position: static;
  width: 126px;
  height: 30px;
  margin-left: 3px;
  margin-top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #fdfdfd;
}
.footermenubar {
  display: flex;
  width: 180px;
  height: 112px;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 24px;
}
.footermenubar a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;

  color: #ffffff;
}
.footerbottom {
  display: flex;
  position: static;
  width: 1440px;
  height: 150px;
}
.footerhr {
  width: 1200px;
  height: 0px;
  border: 1px solid #ffffff;
  margin-top: 120px;
}
.social {
  width: 180px;
  height: 65px;
  margin-left: 120px;
}
.social p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  width: 175px;
  height: 18px;

  color: #ffffff;
}
.social img {
  width: 20px;
  height: 23px;
  flex-direction: column;
  align-items: center;
  padding: 3px;
}
.footerbottomlogo {
  display: flex;
  color: #ffffff;
  width: 20x;
  height: 23px;
  justify-content: space-between;
}
.terms {
  display: flex;
  width: 282px;
  height: 16px;
  margin-top: 15px;
  margin-left: 400px;
}
.terms a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-left: 20px;
  width: 200px;
  height: 16px;
}
.copyright {
  width: 236px;
  height: 40px;
  margin-left: 104px;
  display: flex;
  flex-direction: column;
}
.copyright p {
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
.contents {
  max-width: 1440px;
  margin: auto;
}
