footer {
  background-image: url("../pictures/Background/Footer/base.png");
  width: 100%;
  height: 384px;
  position: relative;
}
.footertop {
  display: flex;
  justify-content: space-around;
}
.footertop-bar {
  display: flex;
}
.footerlogo {
  width: 176px;
  height: 40px;
  display: flex;
  margin: 30px;
}
.footerlogo p {
  position: static;
  width: 126px;
  height: 30px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 4px;
  color: #fdfdfd;
}
.footermenubar {
  display: flex;
  width: 180px;
  height: 112px;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 24px;
}
.footermenubar a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;

  color: #ffffff;
}
.footerbottom {
  display: flex;
  justify-content: space-around;
}
.footerhr {
  width: 1200px;
  height: 0px;
  border: 1px solid #ffffff;
  margin-top: 80px;
}
.footerbottomright {
  display: flex;
  justify-content: space-between;
}
.social {
  height: 65px;
  text-align: center;
  justify-content: space-between;
}
.social h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  width: 175px;
  height: 18px;

  color: #ffffff;
}
.footerbottomlogo {
  display: flex;
  color: #ffffff;
  width: 20x;
  height: 23px;
  justify-content: space-between;
}
.terms {
  display: flex;
  height: 16px;
  text-align: end;
  margin-top: 10px;
}
.terms a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  width: 200px;
  height: 16px;
}
.copyright {
  height: 40px;
  display: flex;
  flex-direction: column;
}
.copyright p {
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
.contents {
  max-width: 1440px;
  margin: auto;
}
@media (max-width: 1200px) {
  .footerbottomright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
