.main {
  box-sizing: border-box;
  height: 500px;
  display: flex;
  background: #fdfdfd;
  justify-content: center;
}
.logincontainer {
  width: 350px;
  height: 440px;

  margin: 25px;
}
.title {
  display: flex;
  padding: 0px;
  width: 180px;
  height: 32px;
}
.line {
  flex-direction: row;
  align-items: flex-start;
  width: 9px;
  height: 32px;
  background: #f17228;
  display: flex;
}

.line h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  margin-left: 15px;
  margin-top: -0px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #171717;
}
.main label {
  justify-content: flex-start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 250;
  font-size: 14px;
  display: flex;
  align-items: center;

  color: #171717;
}
#password {
  background-image: url(/pictures/Icons/login/hide.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 330px;
  display: flex;
}
.main input {
  display: flex;
  flex-direction: row;
  padding: 11px 20px;
  width: 359px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #ffd7bf;
  box-sizing: border-box;
  border-radius: 16px;
}
form {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.center {
  width: 350px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.center a {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  align-items: center;
  color: #171717;
}
.loginbutton {
  width: 359px;
  height: 48px;
  background: #f17228;
  border-radius: 20px;
  border: #f17228;
  /* text */
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.buttons {
  width: 350px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.buttons a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 250;
  font-size: 12px;
  color: #828282;
  text-align: center;
}
#signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* box */
  background: #ffffff;
  border: 1px solid #f17228;
  box-sizing: border-box;
  border-radius: 20px;
  color: #f17228;
}
