.sale {
  position: static;
  width: 1200px;
  height: 448px;
  margin-left: 120px;
  margin-top: 25px;
}
.saletitle {
  position: static;
  width: 1200px;
  height: 88px;
  justify-content: space-between;
  display: flex;
}

.sales1 {
  position: static;
  width: 11px;
  height: 30px;
  background: #f17228;
  margin: 20px;
}
.hymdral {
  width: 251px;
  height: 30px;
  margin-left: 10px;
  margin-top: -50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  color: #171717;
}
.sales {
  position: static;
  width: 251px;
  height: 30px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #171717;
}
.saleall {
  width: 180px;
  height: 48px;
  background: #f17228;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.saleall a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.salefoods {
  width: 1200px;
  height: 304px;
  display: flex;
  justify-content: space-around;
}
.salefoods h2 {
  margin-left: 12px;
}
.salefoods p {
  margin-left: 10px;
}
.salefood1 {
  width: 282px;
  height: 304px;
  background: #fefefe;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.salefoodimage span {
  position: absolute;
  width: 75px;
  height: 43px;
  margin-left: -75px;
  border-radius: 0px 8px 0px 10px;
  background-color: #f17228;
  z-index: 0;
}
.salefoodimage span p {
  position: absolute;
  width: 40px;
  height: 18px;
  left: 8px;
  top: -6px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.salefoodimage {
  margin-top: 15px;
  margin-left: 15px;
  width: 252px;
  height: 208px;
}
.salefood1text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 0px;
}
.salefood1prices {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 0px;
  width: 60px;
  height: 27px;
  display: flex;
}
.salefood1pricesale {
  color: #f17228;
}
.salefood1price {
  color: #171717;
  text-decoration-line: line-through;
  margin-left: 10px;
}
